<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 ">
        <h1>Result </h1>
        <% if @included %>
          <% if @english_word %>
            <p><strong>Congratulations!</strong> <%= @word %> is a valid English word!</p>
          <% else %>
            <p>Sorry but <strong><%= @word %></strong> does not seem to be a valid English word...</p>
          <% end %>
        <% else %>
          <p>Sorry but <strong><%= @word %></strong> can't be built out of <%= @letterarray.join(", ") %></p>
        <% end %>
        <%= link_to "try Again", new_path %>
    </div>
  </div>
</div>
